apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: lbg-ns
  labels:
    app: appointment-service
spec:
  selector:
    app: appointment-service
  ports:
  - port: 3001
    targetPort: 3001
    protocol: TCP
  type: ClusterIP