apiVersion: v1
kind: Service
metadata:
  name: patient-service
  namespace: lbg-ns
  labels:
    app: patient-service
spec:
  selector:
    app: patient-service
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
  type: ClusterIP