apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: patient-data-pvc
  namespace: lbg-ns
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: default

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: appointment-data-pvc
  namespace: lbg-ns
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: default